* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  display: contents;
  text-align: center;
}

/* Estilos Navbar */

.contenido-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  background-color: #f1e645e5;
  padding: 1rem;
  padding: 1rem;
  color: #6d2b90;
  padding: 1rem;
  color: #6d2b90;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  box-shadow: #6d2b90 0 -3px 30px;
}

.contenido-navbar img {
  border-radius: 5em;
}

/*  Estilos menu */

.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu ul li {
  margin: 0 1rem;

}

.menu ul li a {
  margin: 0 1rem;
  color: #6d2b90;
  font-size: 1.6em;
  font-weight: bold;
  transition: .2s;

}

.menu ul li a:hover {
  color: rgb(155, 76, 7);
  border-bottom: 3px solid rgb(8, 220, 212);
  padding-bottom: .1rem;
}

/*  Estilo carrito */

.carrito {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.icon {
  color: #6d2b90;
}

.icon:hover {
  color: rgb(8, 220, 212);
}

.badge {
  color: black;
  font-size: 23px
}

.empty {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartList {
  border-spacing: 0;
  border-radius: 5px;
  border: solid 2px #f1e645e5;
  width: 95%;
  margin: 15px auto;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.cartList_head {
  background-color: #f1e645e5;
  margin: 8px auto;
  font-size: 1.4em;
  color: #6d2b90;
}

.cartDetalle {
  font-weight: 800;
  font-size: 15px;
  color: #000000;
}

.cartDetalle .quantity {
  font-size: 1.3em;
  margin-top: 1em;
  margin-left: 1em;
}

.cartList_row {
  line-height: 56px;
}

.cartList_detail {
  text-align: center;
  line-height: 1.5em;
  width: 100%;
}

.quantity {
  display: inline-block;
  font-weight: 600;
  padding-right: 20px;
}

.chg-quantity1 {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.1s;
  margin-right: 0.5em;
}

.chg-quantity1:hover {
  opacity: 0.5;
}

.chg-quantity2 {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.1s;
  margin-left: 0.5em;
}

.chg-quantity2:hover {
  opacity: 0.5;
}

.boton-clear-cart {
  background-color: #8e0707;
  display: inline-block;
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  padding: 10px 30px;
  margin: 4px 2px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: #6d2b90 0 -3px  15px;
}

.boton-clear-cart:hover {
  background-color: #ff1b1b;
  color: #ffffff;
}
.boton-pagar{
  background-color: #0c8e08;
  display: inline-block;
  width: 150px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 20px;
  margin: 4px 2px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  box-shadow: #6d2b90 0 -3px  15px;
}
.boton-pagar:hover {
  background-color: #67ff1b;
  color: #000000;
}
/*  Estilos container  */

.Item-list-container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.Item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left:20em;
}

h1 {
  text-align: center;
  color: #6d2b90;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

/*  Estilos Cards */
.item-detail-container {
  text-align: center;
  margin: 40px auto;
  min-height: 700px;
  width: 50%;
  min-width: 600px;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #6d2b90;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.20s ease-in;
  cursor: pointer;
}

.card-img {
  height: 350px;
  object-fit: cover;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-detail-card {
  font-size: 30px;
  margin-bottom: 15px;
}

.item-list1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: 4em;
}

.item-card2 {
  margin-top: 1em;
  width: 350px;
  padding: 8px 5px;
  margin: 10px 500px;
  border-radius: 1em;
  box-shadow: 0px 5px 10px #a5a5a7;
  transition: all ease-in-out 0.2s;

}

.item-card2:hover {
  cursor: pointer;
  box-shadow: #6d2b90 0 -0px 15px;
  transform: translateY(-5px);
}

.item-card {
  width: 350px;
  padding: 8px 5px;
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  border-radius: 2px;
  margin: 8px 15px;
  margin-top: 1em;
  box-shadow: 0px 5px 10px #a5a5a7;
  transition: all ease-in-out 0.2s;
}

.item-card:hover {
  cursor: pointer;
  box-shadow: #6d2b90 0 -3px 20px;
  transform: translateY(-5px);
}

.item-card button {
  background-color: beige;
  font-size: 15px;
  font-weight: 700;
  border-radius: 4px;
  width: 100px;
}
.descripcion{
  font-size: 35px;
  font-weight: 700;
  font-family:sans-serif;
  box-shadow: 0px 0px 15px #6d2b90;
  margin-top: 20px;
  margin-bottom: 20px;
  
}
/*--------------------------------------- */

h2,
h3,
h4,
h5,
h6 {
  color: hsl(0, 2%, 20%);

}
/* Estilos del Checkout */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
  width: 100%;
}

.box-element {
  box-shadow: hsl(0, 0%, 52%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  min-height: 200px;
  max-height: 320px;
}

.box-element-2 {
  box-shadow: hsl(0, 0%, 57%) 0 0 16px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  min-height: 200px;
  max-height: 320px;
}

.form-check {
  margin-bottom: 80px;
}

.item-box {
  max-height: 200px;
  overflow-y: auto;
}

.product {
  border-radius: 0 0 4px 4px;
}

.bg-dark {
  background-color: #4f868c !important;
}

.quant-total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-lg-12 {
  margin-top: 10px;
  margin-bottom: 30px;
}
.row-image {
  width: 50px;
  height: 70px;
}

.form-field {
  width: 200px;
  display: inline-block;
  padding: 5px;
}

.hidden {
  display: none !important;
}

.btn-secondary {
  text-decoration: none;
  text-decoration-style: none;
}

.btn-secondary:hover {
  color: #e3ebe3;
}

.envio {
  margin: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

/* Estilo boton contador */

.btn {
  border-radius: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.contador {
  font-size: 30px;
  font-weight: 600;
}

/* --------------------------- */

@media screen and (max-width: 428px) {
  .box-element {
    padding: 10px;
    min-height: 500px;
    max-height: 450px;
  }

  .form-check {
    height: 300px;
    margin-bottom: 30px;
    padding: 0px;
  }

  .form-field {
    padding: 0px;
  }

  .envio h4 {
    font-size: 20px;
  }

  .envio h3 {
    font-size: 18px;
  }
}

/* Estilos Footer */
.footer {
  width: 100%;
  height: 80px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: #6d2b90ab 0 -5px 10px;

}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 30px;
  margin-left: 50px;
}

.redes a {
  margin-left: 40px;
  margin-right: 40px;
}

.redes a .vinculo-c {
  height: 5px;
  width: 5px;
}

.redes li {
  margin-left: 2em;
}

/* MEDIA QUERY */

@media screen and (max-width: 800px) {
  .contenido-navbar {
    flex-direction: column;
    margin: auto;
  }

  h1 {
    margin-bottom: 1em;
  }

  .item-list {
    display: flex;
    flex-direction: column;
  }

  .item-card {
    width: 300px;

    text-align: center;
    font-size: 2em;
    font-weight: 700;
    border-radius: 4px;
    margin: 8px 15px;
    margin-bottom: 1em;
    color: #6d2b90;
    box-shadow: 0px 5px 10px #ececed;
    transition: all ease-in-out 0.2s;
  }
}